* {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #fff;
}
a:hover {
    color: #cacaca;
}
/* NAVBAR SECTION */
.navbar-brand {
    font-size: 30px;
}
li.nav-item {
    font-size: 20px;
}
.navbar-toggler-icon {
    color: #fff;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
nav {
    background: rgba(0, 0, 0, 0.55);
}
/* HEADERAREA SECTION */
.header-area {
    background-image: url("../../img/header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: top;
    -ms-flex-align: top;
        align-items: top;
}
.header-area:before {
    content: "";
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-area .block {
    text-align: center;
    z-index: 99;
}
.header-area h1 {
    color: #fff;
    text-transform: capitalize;
}
.me {
    margin-top: 20rem;
}
.me h1 {
    font-size: 65px;
}
/* WHYME SECTION */
.whyme {
    background: rgba(0, 0, 0);
    margin: 0 auto;
}
.whyme .row {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
/* ABOUT SECTION */
.about {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
}
.about h1 {
    text-align: center;
    color: #fff;
}
.about .left {
    float: left;
}
.about .right {
    float: left;
    color: #fff;
}
.about .right .card {
    background: transparent;
    border: transparent;
}
/* PORTFOLYO SECTION */
.portfolyo {
    background: rgba(0, 0, 0);
    color: #fff;
}
/* CONTACT SECTION */
.contact {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
}
.contact .box {
    width: 12rem;
    height: 12rem;
    font-size: 90px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    transition: 1s;
}
.contact .box:hover {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.contact .box:hover i {
    color: #fff;
}
.contact .box i {
    padding-top: 3rem;
    color: #000;
}
/* FOOTER SECTION */
.footer {
    background: rgba(0, 0, 0);
}
.footer p.muted {
    color: #fff;
}
.footer p.muted a {
    color: rgba(255, 255, 255, 0.5);
}
/* TABLET AND LOWER WIDTH SETTINGS*/
@media screen and (max-width: 767px) {
    .me {
        margin-top: 18rem;
    }
    .me h1 {
        font-size: 30px;
    }
    .me p {
        font-size: 15px;
    }
    .footer {
        text-align: center;
    }
}
/*AFTER 1441*/
@media screen and (min-width:1441px) {
    .me {
        margin-top: 36rem;
    }
    .me h1 {
        font-size: 80px;
    }
    .me p {
        font-size: 27px;
    }
}