* {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #fff;
}
a:hover {
    color: #cacaca;
}
.navbar-toggler-icon {
    color: #fff;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.header-area {
    background-image: url("../../img/header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: top;
    -ms-flex-align: top;
        align-items: top;
}
.header-area:before {
    content: "";
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-area .block {
    text-align: center;
    z-index: 99;
}
.header-area .block .me {
    margin-top: 45%;
}
.header-area h1 {
    color: #fff;
    text-transform: capitalize;
  }