* {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #fff;
}
a:hover {
    color: #cacaca;
}
.navbar-brand {
    font-size: 30px;
}
li.nav-item {
    font-size: 20px;
}
.navbar-toggler-icon {
    color: #fff;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
nav {
    background: rgba(0, 0, 0, 0.55);
}
.header-area {
    background-image: url("../../img/header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: top;
    -ms-flex-align: top;
        align-items: top;
}
.header-area:before {
    content: "";
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-area .block {
    text-align: center;
    z-index: 99;
}
.header-area h1 {
    color: #fff;
    text-transform: capitalize;
}
.me {
    margin-top: 66%;
}
.me h1 {
    font-size: 65px;
}
.whyme {
    background: rgba(0, 0, 0);
    margin: 0 auto;
}
.whyme .row {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .me {
        margin-top: 75%;
    }
}